@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700;&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #646464;
  line-height: 1.7;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #212121;
}
.theme-button {
  text-decoration: none;
  background-color: #37806b;
  text-transform: capitalize;
  color: #fff;
  border-radius: 15px 0;
  padding: 10px 20px;
  transition: 0.3s;
  display: inline-block;
}
.theme-button:hover {
  background-color: #caa892;
  color: #fff;
}
.design-image {
  position: relative;
  z-index: 1;
}
.design-image img {
  width: 100%;
  border-radius: 140px 0;
}
.design-image::after {
  position: absolute;
  content: "";
  right: -20px;
  left: 20px;
  top: 20px;
  bottom: -20px;
  z-index: -1;
  border-radius: 140px 0;
  border: 2px solid #b0855b;
}
.design-image-two {
  position: relative;
  z-index: 1;
}
.design-image-two img {
  border-radius: 140px 0;
}
.design-image-two::after {
  position: absolute;
  content: "";
  right: 20px;
  left: -20px;
  top: -20px;
  bottom: 20px;
  z-index: -1;
  border-radius: 140px 0;
  border: 2px solid #b0855b;
}
.section-heading h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: #646464;
  font-weight: 600;
}
.section-heading h3 {
  font-size: 48px;
}
.design-text h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 288px;
  font-weight: 700;
  background-image: url(assets/img/text-bg.png);
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
}
.header-area {
  padding: 32px 0;
}
.header-area .nav-item {
  margin-left: 30px;
}
.header-area .nav-link {
  text-transform: uppercase;
  color: #111111;
  font-weight: 600;
}
.header-area .nav-link.active {
  text-transform: uppercase;
  color: #646464;
}
.header-area .nav-item:last-child {
  margin-left: 45px;
}
.header-area .nav-item:last-child .nav-link {
  background-color: #caa892;
  text-transform: capitalize;
  color: #fff;
  border-radius: 15px 0;
  padding: 10px 20px;
  transition: 0.2s;
}
.header-area .nav-item:last-child .nav-link:hover {
  font-size: 18px;
  background-color: #37806b;
  text-transform: capitalize;
  color: #fff;
  border-radius: 15px 0;
  padding: 10px 20px;
}
.hero-area {
  padding: 30px 0;
}
.hero-text h3 {
  font-size: 20px;
  color: #646464;
  text-transform: uppercase;
}
.hero-text h2 {
  font-size: 72px;
  color: #212121;
  text-transform: capitalize;
}
.hero-text a {
  margin-top: 15px;
}
.hero-image img {
  width: 100%;
  border-radius: 140px 0;
}
.service-area {
  padding: 100px 0;
  position: relative;
}
.all-services {
  margin-top: 60px;
  position: relative;
}
.service-area .owl-nav {
  position: absolute;
  right: 0;
  top: -80px;
}
.service-area .owl-nav span {
  height: 30px;
  width: 30px;
  background-color: #fff;
  color: #646464;
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s;
}
.service-area .owl-nav span:hover {
  background-color: #37806b;
  color: #fff;
}
.service-area .owl-next {
  margin-left: 15px;
}
.single-service {
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  padding: 40px 20px 40px 35px;
  transition: 0.3s;
  cursor: pointer;
}
.single-service:hover {
  background-color: #caa892;
  color: #fff;
}
.single-service:hover h3 {
  color: #fff;
}
.service-text p {
  margin-bottom: 0;
}
.about-area {
  padding: 100px 0;
}
.success-area {
  padding: 100px 0;
  position: relative;
}
.success-area .theme-button {
  margin-top: 35px;
}
.work-area {
  padding: 100px 0;
  background-color: #ffffff;
}
.all-work {
  margin-top: 100px;
}
.single-work {
  display: flex;
  justify-content: center;
}
.single-work-text {
  background: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.single-work-text::after {
  position: absolute;
  content: "";
  height: 100px;
  width: 22%;
  border-top: 2px solid #e0e0e0;
  border-right: 2px solid #e0e0e0;
  z-index: -1;
  right: -44px;
  top: 100px;
}
.single-work-text.secial::after {
  position: absolute;
  content: "";
  height: 100px;
  border-top: 2px solid #e0e0e0;
  border-right: 2px solid #e0e0e0;
  z-index: -1;
  left: -43px;
  top: 100px;
  border-right: none;
}
.single-work-text h3 {
  font-size: 50px;
}
.single-work-two .single-work-text::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 45px;
  border-top: 2px solid #e0e0e0;
  z-index: -1;
  right: -45px;
  top: 100px;
}
.single-work-three .single-work-text::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 45px;
  border-top: 2px solid #e0e0e0;
  border-left: 2px solid #e0e0e0;
  z-index: -1;
  left: -42px;
  top: 100px;
}
.secial {
  margin-top: 100px;
}
.testimonial-area {
  padding: 100px 0;
  position: relative;
}
.all-testimonial {
  position: relative;
  margin-top: 70px;
}
.single-testimonial {
  padding: 20px;
}
.testimonial-content {
  display: flex;
  padding: 40px;
  position: relative;
  z-index: 1;
  padding-left: 0;
}
.testimonial-content::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 65px;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px 5px rgba(66, 96, 84, 0.15);
  border-radius: 70px 0px;
  z-index: -1;
}
.testimonial-img {
  margin-right: 20px;
}
.testimonial-img img {
  height: 130px;
  width: 130px !important;
}
.testimonial-text h3 {
  font-size: 24px;
}
.testimonial-text h3 span {
  font-size: 16px;
  color: #646464;
}
.icon-img {
  position: absolute;
  right: 40px;
  top: 40px;
}
.icon-img img {
  width: 25px;
  height: auto;
}
.testimonial-area .owl-nav {
  position: absolute;
  right: 0;
  top: -80px;
}
.testimonial-area .owl-nav span {
  height: 30px;
  width: 30px;
  background-color: #fff;
  color: #646464;
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s;
}
.testimonial-area .owl-nav span:hover {
  background-color: #37806b;
  color: #fff;
}
.testimonial-area .owl-next {
  margin-left: 15px;
}
.blog-area {
  background-color: #f8f8f8;
  padding: 100px 0;
}
.blog-area .section-heading {
  margin-bottom: 70px;
}
.blog-text {
  margin-top: 40px;
}
.singup-area {
  padding: 180px 0;
}
.singup-text h3 {
  font-size: 48px;
  margin-bottom: 22px;
  padding-bottom: 22px;
  position: relative;
}
.singup-text h3::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 400px;
  background-color: #c4c4c4;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.signup-text p {
  margin-bottom: 45px;
}
.signup-area .form-control {
  background-color: #eeeeee;
  border: none;
  font-size: 20px;
  border-radius: 20px 0 0 0;
  padding: 10px 15px;
}
.signup-area button {
  border: none;
  background-color: #37806b;
  padding: 10px 15px;
  color: #fff;
  border-radius: 0 0 20px 0;
}
.signup-area button:hover {
  background-color: #b0855b;
}
.footer-area {
  background-color: #f8f8f8;
  position: relative;
  padding-top: 100px;
}
.footer-top {
  padding-top: 90px 0;
  padding-bottom: 70px;
}
.footer-about img {
  margin-bottom: 18px;
}
.footer-link h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.footer-link ul {
  margin: 0;
  padding: 0;
}
.footer-link ul li {
  list-style: none;
}
.footer-link ul li a {
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #646464;
  transition: 0.3s;
}
.footer-link :hover ul li a {
  display: inline-block;
  color: #37806b;
}
.footer-link address {
  line-height: 2.2;
}
.footer-link .social-link li {
  display: inline-block;
  margin-right: 10px;
}
.footer-link .social-link a i {
  background-color: #d5d5d5;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #f8f8f8;
  padding: 14px;
  transition: 0.3s;
}
.footer-link .social-link :hover a i {
  background-color: #37806b;
  color: #fff;
}
.footer-bottom {
  border-top: 1px solid #c4c4c4;
}
.footer-bottom-text a {
  text-decoration: none;
  color: #37806b;
}
.design {
  position: absolute;
  top: -50px;
}
.design img {
  height: 100px;
}
@media (max-width: 1399px) {
  .header-area {
    font-size: 16px;
  }
  .header-area .nav-link {
    padding: 10px 15px;
  }
  .hero-area {
    padding: 50px 0;
    margin-top: 20px;
  }
  .service-area {
    padding: 100px 0;
  }
  .work-area {
    text-align: center;
    padding: 100px 0;
  }
}
@media (max-width: 1199px) {
  .header-area {
    font-size: 12px;
  }
  .header-area h2 {
    font-size: 60px;
  }
  .service-area .section-heading {
    text-align: center;
  }
  .work-area .section-heading h3 {
    text-align: center;
  }
  .single-work-text {
    width: 160px;
    height: 160px;
  }
  .single-work-text::after {
    width: 39px;
    right: -39px;
  }
  .single-work-three .single-work-text::before {
    width: 38px;
    left: -38px;
  }
  .single-work-text.secial::after {
    width: 42px;
    left: -42px;
  }
}
@media (max-width: 991px) {
  .theme-text {
    text-align: center;
  }
  .theme-text h3 {
    font-size: 36px;
  }

  .design-image {
    padding-right: 20px;
  }
  .design-image::after {
    left: 20px;
    right: 0;
    top: 20px;
    bottom: -20px;
  }
  .header-area {
    padding: 16px 0;
  }
  .header-area {
    font-size: 18px;
  }
  .header-area .navbar-brand {
    margin-left: 15px;
  }
  .header-area .nav-item {
    text-align: center;
  }
  .header-area .navbar-toggler {
    border: none;
    box-shadow: none;
  }
  .header-area .nav-item:last-child {
    margin-left: 10px;
  }
  .header-area .nav-item:last-child .nav-link {
    text-align: center;
  }
  .hero-area {
    padding: 50px 0;
    margin-bottom: 0;
  }
  .hero-area {
    text-align: center;
  }
  .hero-area .hero-text h3 {
    font-size: 20px;
  }
  .hero-area .hero-text h2 {
    font-size: 48px;
  }
  .hero-area .hero-text p {
    font-size: 15px;
  }
  .hero-area .theme-button {
    margin-bottom: 40px;
  }
  .service-area {
    padding: 80px 0;
    margin-bottom: 0;
  }
  .service-area h3 {
    text-align: center;
  }
  .service-area h4 {
    text-align: center;
  }
  .service-area span {
    margin-top: 30px;
  }
  .about-area {
    text-align: center;
    padding: 80px 0;
    margin-bottom: 0;
  }
  .design-image-two {
    padding-left: 20px;
  }
  .design-image-two::after {
    right: 20px;
    left: 0;
    top: -20px;
    bottom: 20px;
  }
  .about-area .about-text {
    margin-left: 0;
  }
  .about-area h4 {
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .about-area h3 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .about-area p {
    font-size: 15px;
    margin-left: 1px;
  }
  .about-area .theme-button {
    width: 50%;
    margin-top: 40px;
  }
  .success-area {
    padding: 80px 0;
    text-align: center;
    margin-bottom: 0;
  }
  .success-area .section-heading h5 {
    margin-top: -10px;
  }
  .success-area .design-text h3 {
    font-size: 45px;
  }
  .success-area .theme-button {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .work-area {
    text-align: center;
    padding: 80px 0;
    margin-bottom: 0;
  }
  .work-area h3 {
    font-size: 30px;
  }
  .single-work-text {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
  }
  .single-work-text::after {
    position: absolute;
    content: "";
    height: 262px;
    width: 22%;
    border-top: 2px solid #e0e0e0;
    border-right: inherit;
    border-left: 2px solid #e0e0e0;
    z-index: -1;
    left: -44px;
    top: 100px;
  }
  .secial {
    margin-top: inherit;
  }
  .single-work-text.secial::after {
    position: absolute;
    content: "";
    height: 0px;
    border-top: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    z-index: -1;
    right: -44px;
    top: 100px;
    border-right: none;
  }
  .single-work-two .single-work-text.secial::before {
    position: absolute;
    content: "";
    height: 262px;
    width: 45px;
    border-top: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    z-index: -1;
    right: -45px;
    top: 100px;
  }
  .single-work-three .single-work-text::before {
    height: inherit;
    left: inherit;
    height: 0px;
    width: 43px;
    right: -43px;
  }
  .testimonial-area {
    padding: 80px 0;
    margin-bottom: 0;
  }
  .testimonial-area .section-heading h4 {
    font-size: 22px;
  }
  .testimonial-area .section-heading h3 {
    font-size: 45px;
  }
  .testimonial-text h3 span {
    font-size: 12px;
  }
  .testimonial-text p {
    font-size: 15px;
  }
  .icon-img img {
    width: 20px !important;
    height: auto;
    display: inline-block;
  }
  .blog-area {
    padding: 80px 0;
    margin-bottom: 0;
  }
  .blog-area .section-heading h4 {
    font-size: 20px;
  }
  .blog-area .section-heading h3 {
    font-size: 45px;
    margin-bottom: -10px;
  }
  .blog-area .blog-image {
    margin-top: 20px;
  }
  .blog-area .theme-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .singup-area {
    padding: 80px 0;
    margin-bottom: 0;
  }
  .singup-text h3 {
    font-size: 35px;
  }
  .singup-area .singup-text p {
    font-size: 15px;
    margin-left: 1px;
  }
  .signup-area .form-control {
    font-size: 14px;
  }
  .signup-area .form-control button {
    font-size: 15px;
  }
  .footer-area {
    padding: 50px 0;
    padding-top: 40px;
    margin-bottom: 0;
  }
  .footer-top {
    text-align: center;
  }
  .footer-top {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .footer-link {
    margin-top: 25px;
  }
  .footer-about p {
    font-size: 18px;
  }
  .footer-link a {
    font-size: 16px;
  }
  .design {
    top: -40px;
  }
}